@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

body{
    margin: 0;
    height: 2000px;
    font-weight: normal;
}
*{
    font-family: Nunito, sans-serif;
}
nav{
    width: 100%;
    height: 48px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    -webkit-font-smoothing: antialiased;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
}

main{
    padding-top: 44px;
    max-width: 1024px;
    margin: 0 auto;
}

nav ul{
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}


nav ul li a{
    color: #f5f5f7;
    text-decoration: none;
    line-height: 44px;

}

.logo{
    font-weight: 600;
    font-size: 28px;
    display: flex;
}
.logo img{
    height: 30px;
    padding-top: 6px;
    padding-right: 2px;
}

.form-article input[name="title"]{
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-weight: 600;
    font-size: 35px;
}
.form-article button[type='submit']{
    width: 100%;


}
.container-post{
    margin-top: 10px;
}
.post-index{
    box-sizing: border-box;
    border: 2px solid grey;
    padding: 0px 20px 20px 20px;
    margin-bottom: 20px;
}
.post-index-show{
    box-sizing: border-box;
    border: 2px solid grey;
    padding: 0px 20px 20px 20px;
    margin-bottom: 20px;
}
.post-img{
    height: 300px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.post-title{
    text-align: center;
}
.post-title h2{
    display: inline-block;
}


.container-post>.post-index:first-child>.post-title h2:before{
    content:' ⚝NEW⚝ ' ;
    color: red;
    font-size: 24px;
    background: -webkit-linear-gradient(left,#33235b,#d62229,#e97639,#792042,#33235b);
    background: linear-gradient(left,#33235b,#d62229,#e97639,#792042,#33235b);
    background-size: 200px 200px;
    margin-top: 20vh;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: animate-text;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    transition: font-size 5s ease-in-out;
    /*animation: blur .75s ease-out infinite;*/
}
#textarea-description{
    margin-top: 3px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    border-color: rgb(204, 204, 204);
    font-size: 24px;
}
#textarea-description::-webkit-scrollbar {
    display:none;
}

#textarea-title{
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 10px;
    margin-bottom: -3px;
    border-color: rgb(204, 204, 204);
    height: 45px;
}
#textarea-title::-webkit-scrollbar {
    display:none;
}
@keyframes animate-text {
    0% {
        background-position: 0 3200px;
    }
    100% {
        background-position: 3200px 0;
    }
}

@keyframes blur {
    from {
        text-shadow:0px 0px 10px #fff,
        0px 0px 10px #ff0000,
        0px 0px 12px #ff0000,
        0px 0px 13px #ff0000,
        0px 0px 15px #ff0000,
        0px 0px 25px #ff0000,
        0px 0px 25px #ff0000,
        0px 0px 25px #ff0000,
        0px 0px 30px #ff0000,
        0px 10px 35px #ff0000,
        0px 10px 35px #ff0000,
        0px 10px 35px #ff0000,
        0px 10px 35px #ff0000,
        0px -10px 35px #ff0000,
        0px -10px 35px #ff0000;
    }
}


/*Responsive*/
@media (min-width: 768px) {
    nav{
        height: 44px;
    }
}
