@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

body{
    margin: 0;
    font-weight: normal;
}
*{
    font-family: Nunito, sans-serif;
}
p {
    margin: 0;
}
nav{
    width: 100%;
    height: 48px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    -webkit-font-smoothing: antialiased;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
}

main{
    padding-top: 44px;
    max-width: 1024px;
    margin: 0 auto;
}

nav ul{
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}


nav ul li a{
    color: #f5f5f7;
    text-decoration: none;
    line-height: 44px;

}

.logo{
    font-weight: 600;
    font-size: 28px;
    display: flex;
}
.logo img{
    height: 30px;
    padding-top: 6px;
    padding-right: 2px;
}

.form-article textarea[name="title"]{
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-weight: 600;
    font-size: 35px;
}

.form-article textarea[name='description']{
    width: 100%;
    box-sizing: border-box;
    resize: unset;
    font-size: 25px;
}

.form-article button[type='submit']{
    width: 100%;

}

.container-post{
    margin-top: 10px;
}
article{

    margin-bottom: 10px;
}
.post-index-show{
    box-sizing: border-box;
    border: 2px solid grey;
    padding: 0px 20px 20px 20px;
    margin-bottom: 20px;
}
.post-img{
    height: 300px;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;

}
.post-title{
    text-align: center;
}
.post-title h2{
    display: inline-block;
}
.post-description {
    font-size: 25px;
    margin: 20px 0;
}

#output img.thumb{
    max-width: 500px;
    display: block;
    margin: 0 auto 3px auto;

}

#textarea-title{
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
    resize: none;
    margin-top: 10px;
    border-color: rgb(204, 204, 204);
    height: 45px;
    padding-left: 5px;
}

#textarea-description{
    margin-top: 3px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border-color: rgb(204, 204, 204);
    font-size: 24px;
    padding-left: 5px;
}
#textarea-description::-webkit-scrollbar {
    display:none;
}


#textarea-title::-webkit-scrollbar {
    display:none;
}
.tox.tox-tinymce {
    margin-top: 6px;
}
.btn {
    background-color: rgb(226, 226, 226);
    color: black;
    text-decoration: none;
    border: 1px solid grey;
    padding: 1px 5px;
    border-radius: 2px;
    font-size: 16px;
}

article img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

article h2{
    font-size: 52px;
    font-weight: 600;
    max-width: 768px;
    margin: 0 auto 15px;
}

article.post-show {
    max-width: 768px;
    margin: 0 auto;
    font-size: 25px;
}

article button[name='see-post']{
    font-size: 20px;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
    width: 200px;
    padding: 0;
}
.btn-outline-danger {
    font-size: 20px;
    background: linear-gradient(#ff0202,#a21515);
    border: 1px solid #dc3d3d;
    border-radius: 4px;
    width: 176px;
    padding: 0;
    color: white;
}
.btn-outline-primary {
    font-size: 20px;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
    padding: 0px 25px;
    color: white;
}
.article-index {
    border-bottom: 2px solid rgb(240, 240, 240);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

article button[name='see-post'] a{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 200px;
    padding: 5px;
}

article button[name='see-post']:hover{
    background: linear-gradient(#58a9e7, #177dc7);
}
.control-post-btn {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.article-post {
    margin-bottom: 20px;
}
.post-author{
    display: block;
    margin: 15px 0;
}
.post-author-name,.post-author-date{
    font-size: 17px;
    font-weight: lighter;
    display: inline;
}
.post-author-date{
    color: grey;
}
.btn-create{
    margin-bottom: 30px;
}


.article-index:first-child >.article-post>h2:before{
    content:' * ' ;
    color: red;
    font-size: 24px;
    background: -webkit-linear-gradient(left,#33235b,#d62229,#e97639,#792042,#33235b);
    background: linear-gradient(left,#33235b,#d62229,#e97639,#792042,#33235b);
    background-size: 200px 200px;
    margin-top: 20vh;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: animate-text;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    transition: font-size 5s ease-in-out;
    /*animation: blur .75s ease-out infinite;*/
}

@keyframes animate-text {
    0% {
        background-position: 0 3200px;
    }
    100% {
        background-position: 3200px 0;
    }
}

@keyframes blur {
    from {
        text-shadow:0px 0px 10px #fff,
        0px 0px 10px #ff0000,
        0px 0px 12px #ff0000,
        0px 0px 13px #ff0000,
        0px 0px 15px #ff0000,
        0px 0px 25px #ff0000,
        0px 0px 25px #ff0000,
        0px 0px 25px #ff0000,
        0px 0px 30px #ff0000,
        0px 10px 35px #ff0000,
        0px 10px 35px #ff0000,
        0px 10px 35px #ff0000,
        0px 10px 35px #ff0000,
        0px -10px 35px #ff0000,
        0px -10px 35px #ff0000;
    }
}


/*Responsive*/
@media (min-width: 768px) {
    nav{
        height: 44px;
    }
}
